html {
    background-color: lavender;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}


.titulo {
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}